*{
    text-align: center;
    border-radius: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    transition: 1s;
}

body{
    background-image: url(/Img/fundodenoiva.png)
    }
    
    .main{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 20px;
        width: 900px;
        background-color: #f1c7c7;
    }
    
    .header{
        width: 900px;
        background-color: #be8585;
        padding: 10px;
        text-align: center;
    }
    
    .header h1{
        text-transform: uppercase;
        border-bottom: 1px solid white;
    }
    
    .banner img{
        width: 100%;
        height: 650px;
    }
    
    /* .content{ */
        /* display:flex */
    /* } */
    
    .box{
        padding: 15px;
    }
    
    .box h2{
        border-bottom: 2px solid white;
    }
    
    .footer {
        padding: 10px;
        text-align: center;
        background-color: rgb(240, 172, 184);
        color: white
    }
    
    .nav li{
        float: left;
        list-style-type: none;
        padding: 10px;
        height: 20px;
        margin-bottom: 10px;
        border-bottom: 20px;
    }
    
    .nav {
        border: 1px solid white;
        text-decoration:none;
        
    }
    ul, li{
        text-align: center;
    }
    
    a{
        text-decoration: none;

    }
    
    
    
    @media screen and (max-width: 768px){
        /* body{
            background-image: none;
        }
    
        .main{
            margin: 0px;
            padding: 0px;
            width: 100%;
            font-size: 14px;
        }
    
        .content{
            flex-direction: column;
        } */

        .banner{
            width: 700px;
        }
    }